h3{
    color: rgba(0, 0, 139, 0.8);
}
.transparent-text{
    color: rgba(0,0,0,0.5);
}
h1{
    font-family: sans-serif;
    text-align: left;
}
p{
    font-family: serif;
    text-align: right;
}
a{
    color:darkgreen;
}
del{
    color: gray;
}
mark{
    color: darkblue;
    background-color: pink;
}
h2{
    text-align: left;
    font-family: sans-serif;
}
pre{
    font-family: monospace;
}
body{
    background-image: url("cross.png");
    background-color: #DCF5F5;
}
#content{
    background-color: white;
}
.blue{
    color: blue;
}
.fancy{
    font-family: cursive;
}
.red-border{
    border: red;
}
.red-outline{
    outline: red;
    border-style: solid;
}
hr{
    border-color: #CFDFE4;
}
#div1{
    border: 1px solid darkgrey;
    border-radius: 8px;
    background-color: white;
}
#div2{
    border:red;
    border-style: solid;
    background-color: blue;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
#div3{
    background-color: yellow;
    border-color:red;
    border-style: solid;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 12px;
    width: 700px;
    height: 200px;
}
#div4{
    background-color: blue;
    border-style: solid;
    border-color:red;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
#div5{
    padding: 12px;
    background-color:yellow;
    border-color: red;
    border-style: solid;
    width: 400px;
    height: 400px;
    margin: auto;
    
}